body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("media/background.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  width: 90%;
  left: 5%;
  top: 10%;
}

.footer {
  position: absolute;
  bottom: 5%;
  color: whitesmoke;
  width: 90%;
  left: 5%;
  text-align: center;
}

a {
  color: whitesmoke !important;
}